* {
    text-align: center;
    font-size: 30px;
}
.wrapper {
    background-color: white;
}

.navbar {
    background-color:grey;
    position: sticky;
    top: 0px;
    box-shadow: 5px 5px 10px red;
}
.content {
    float: left;
}
.picture {
    background-color:grey;
    height: 500px;
    width: 1000px;
    margin: 10px;
}
.sidebar {
    position: sticky;
    float: right;
    top: 40px;
}
.stories {
    background-color:lightblue;
    height: 300px;
    width: 350px;
    margin: 5px;
}
.suggestions {
    background-color: palegreen;
    height: 300px;
    width: 350px;
    margin: 5px;
}
.footer {
    background-color: lightgrey;
    clear: both;
}
.blue:hover{
    color: blue;
}
.red:hover{
    color: red;
}
.dropdown-content{
    display: none;
}
.navbar:hover .dropdown-content{
    display: block;
}
